#content {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
nav a {
    text-align: center;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}
#background {
    height: 725px;
}
#hero_image {
    width: 100%;
}
#logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero_image {
    width: 100%;
}
footer a {
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}  
footer p a:hover {
    text-decoration: underline;
}
.social img {
    width: 50px;
    height: 50px;
}


/* This is for colors */

body {
    background-color: #ffffff;
    color: #000000;
}

header {
    background-color: #e7cc34;
    color: #fff; 
}

nav a:hover {
    background-color: #9c1c1c; /* Medium gray */
    color: #fff; /* White text */
}

.book, .join {
    background-color: #ffffff; /* Blue */
    color: #50d8fa; /* White text */
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #3deaf0; /* Darker blue */
    color: #ff3333; /* White text */
}

#background {
    background-color: #ac2f59; /* Light gray */
    color: #ffffff; /* Dark gray text */
}

.msg {
    background-color: #ffeb3b; /* Yellow */
    color: #eeeded; /* Black text */
}

footer {
    background-color: #222; /* Dark gray */
    color: #fff; /* White text */
}

/* This is some widths */

