<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Components</title>
    <link rel="stylesheet" href="comp.css">
</head>
<body>
    <div class="dropdown">
        <button class="dropbtn">Jadon Description</button>
        <div class="dropdown-content">
          <a href="#">Dreamy Eyes</a>
          <a href="#">Sandy Hair</a>
          <a href="#">Heartbreaker</a>
        </div>
    </div>
</body>
</html>